ul.pagination {
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

ul.pagination li {
    list-style: none;
    margin: 0.5rem;
}

ul.pagination li a {
    display: block;
    cursor: pointer;
    padding: 0.25rem 0;
    width: 2rem;
    text-align: center;
}

ul.pagination li.previous a,
ul.pagination li.next a {
    width: 100%;
}

ul.pagination li.active {
    background: white;
    color: black;
    border-radius: 50%;
}
